*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*pie de pagina*/

footer{
    padding: 1%;
    height: 350px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #EBF8E5;
    text-align: justify;
    line-height: 5px;
    -moz-box-shadow: #2C2C2C;
    background: rgb(69,72,77); 
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); 
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); 
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); 
    clear: both;
    float: left;
    box-shadow: #2C2C2C;
}

.redes{
    width: 28%;
    height: 50%;
    position: absolute;
    margin: 0.4%;
    line-height: 14px;
    padding: 20px;
    margin-left: 0.90%;
}


#terminos{
    width: 27%;
    float: right;
    height: 70%;
    margin: 0.4%;
    position: relative;
    padding: 20px;
    margin-right: 1%;
    line-height: 20px;
    display: inline-block;
}

#face{
    width: 29px;
    height: 29px;
    margin: 6px;
}

#twit{
    width: 29px;
    height: 29px;
    margin: 6px;
}

#gml{
    width: 30px;
    height: 29px;
    margin: 6px;
    border-radius: 0%;
}

#phon{
    width: 30px;
    height: 30px;
    margin: 6px;
    margin-left: 0%;
}

#pin{
    width: 30px;
    height: 30px;
    margin: 3px;
    margin-left: 0%;
}

#copyright{
    font-size: 14px;
    position: absolute;
    margin-top:310px ;
    margin-bottom: 5px;
    margin-left: 10px;
}

.contactenos{
    width: 40%;
    position: absolute;
    height: 40%;
    float: right;
    text-size-adjust: 5px;
    margin-left: 29%;
    padding: 20px;
    font-size: 14px;
    line-height: 15px;
    list-style-type: none;
    text-align: justify;
}
.contactenos,li{
    list-style-type: none;
}

#contac{
    margin-left: 35px;
}
