/*ENCABEZADO DE LA PAGINA DE TERMINOS Y CONDICIONES*/


.especificartermino{
    width: 80%;
    padding: 4%;
    margin: 2% 8.8%;
    color:#000000;
    background-color: rgba(206 218 218 / 90%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: large; 
}

.especificartermino1{
    width: 80%;
    padding: 4%;
    margin: 230px 8.8% 2%;
    color:#000000;
    background-color: rgba(206 218 218 / 90%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: large; 
}

.especificartermino h2{
    -webkit-box-shadow: -1px 4px 1px -2px rgb(21 97 103);
}

.especificartermino1 h1{
    -webkit-box-shadow: -1px 4px 1px -2px rgb(21 97 103);
}

@media(max-width: 800px){
    .especificartermino1{
        margin:0px auto 2%;
        padding: 7%;
        width: 90%;
    }
    .especificartermino{
        padding: 7%; 
        width: 90%; 
        margin: 2% auto;
    }
}
