

body{
    width: 100%;
    padding: 5%;
}
 body::before{
    content:'';
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url(../imagenes/pl1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    background-size: center;
    opacity: .65;
}

.cajabotones{
 margin: 1%; 
 position: relative;
 padding: 1%;
}

.box{
    height: 520px;
    width: 400px;
    position: relative;
    margin: auto;
    -moz-box-align: center;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    border-radius: 20px;
    z-index: 0;
    transform: translate(-50, -50);
}
.botones{
    width: 110px;
    padding: 6px ;
    outline: none;
    cursor: pointer;
    margin-left: 40px;
    position: relative;
    border: none;
    background: linear-gradient( to right, #64dcec,#8fc3f3 );
    border-radius: 9px;
    transition: 0.3s;
}
#img{
    width: 100px;
    height: 100px;
    margin: 10px 100px 5px 125px ;
}

.field{
  width:85% ;
  padding:9px ;
  margin-left: 30px;
  margin:20px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.submit{
    width: 30%;
    padding:7px 10px;
    margin: 10px 100px 30px 125px;
    cursor: pointer;
    display: block;
    margin-left: 120px;
    background:linear-gradient( to right, #64dcec,#8fc3f3 ) ;
    border: 0;
    border-radius: 10px;
    outline: none;
}

.check-box{
    width: 11%;
    position: relative;
}

#terminos-condiciones{
    width: 50%;
    margin: 50px 9px 0px 10px;
}