/*estilo de toda la pagina*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

/*estilo para el parallax*/
#parallax {
    background-image: url(../imagenes/fondoedi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.container-head{
    display: flex;
    flex-wrap: wrap;
    width: 100%
}
/*estilo de imagenes*/


.logo{
    width: 10%;
    height: 10%;
    margin: 2% auto;
    margin-top: 2.3%
}


#imagen{
    width: 85%;
    height: 10%;
    padding: 5px; margin: 5px;  float: center 120px;
    margin-left: 8%;
}


/*estilo de header*/

.titulo1{
    width: 33%;
    height: 10%;
    text-align: center;   
    color: rgb(253, 253, 253);
    border: 2px outset #04faff;
    border-width: 10%;
    padding: 10px;
    box-shadow: rgb(10, 170, 233) 5px 5px 10px; 
    text-shadow: 0px 0 rgb(14, 73, 209), 0 0px rgb(14, 73, 209), 1px 0  rgb(14, 73, 209), 0 -1px  rgb(14, 73, 209), -2px 2px 0  rgb(14, 73, 209), 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68;
    margin: 2% 2% auto 0% ;
}

@media (max-width: 750px){
        .titulo1{      
		margin: 3%  0.3% 1%  6% ;    
		width: 63%;
                    
       }
	.logo{      
	       margin: 3% 3% 0%;    
	       width: 15%;      
	       height: 50px;
       }
    }

header{
   /* background-color: rgba(12, 12, 12, 0.89);*/
    width: 100%;
    display: block;
    border: 1px solid #1F618D;
    background-image: url(../imagenes/pl1.jpg);
    background-repeat: repeat;
    background-size: 50%;
    background-attachment: fixed; 
    top: 0;
    z-index: 100;
    position: fixed;
   
}

.barra-btn-buscar{
    width: 2% auto;

}

.iniciar1{
    margin-right: 4%;
    width: 100%;
    padding: 2%;
    color: rgb(50, 190, 214);
    border: 2px outset#04faff;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    background: rgba(17, 17, 17);
    overflow: hidden;
    border-radius: 8%;
}

.bot-log-reg{
    font-size: large;
    background:none ;
    border: none;
    outline: none;
    width: 35%;
    margin-bottom: 5%;
    overflow: hidden;

}



.registrar1{
    width: 100%;
    padding: 2%;
    color: rgb(50, 190, 214);
    border: 2px inset#04faff;
    font-family: 'Josefin Sans',arial sans-serif;
    text-decoration: none;
    background: rgba(17, 17, 17);
    border-radius: 8%;

}

.iniciar1:hover{
    background: rgba(240, 127, 15, 0.664);
    color: #ebe5e5;
}

.registrar1:hover{
    background: rgba(240, 127, 15, 0.664);
    color: #ebe5e5;
}




@media only screen and  (max-width: 1000px){
     .bot-log-reg{ width: 23%;
	           font-size: 12px;
                   color: rgba(233, 233, 233);

       }
    }

@media only screen and  (max-width: 800px){
     .iniciar1 .registrar1{ width: 35%;
                            margin: 19px;                          
       }
    }

 
/* Quienes somos*/
      
.container-quienes-somos{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    width: 94%;
    margin:2% auto;
    overflow:hidden;
}

.mision-vision {
    width: 45%;
    padding: 2%;
    margin: 190px auto 2%;
    color: white;
    background-color:  rgba(54, 53, 53, 0.863);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: justify;
    overflow:hidden;
   }



.objetivo{
    width: 95%;
    padding: 2%;
    margin: 2% auto;
    color:white;
    background-color:  rgba(54, 53, 53, 0.863);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: justify; 
    overflow:hidden;
}

.valor{
    width: 38%;
    padding: 3.4%;
    margin: 2% auto;
    color:white;
    background-color:  rgba(54, 53, 53, 0.863);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: justify;
    overflow:hidden;

}

.politica {
   
    width: 50%;
    padding: 2%;
    margin: 2% auto;
    color: white;
    background-color: rgba(54, 53, 53, 0.863);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: justify;
    overflow:hidden;
}



/*ESTILOS DE CONTACTENOS*/

.container-contactenos{
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    width: 95%;
    margin: auto;
    overflow:hidden;
}
.con-tel-hor{
    
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 222px auto 1%;
}

.contac {
    width: 100%;
    padding: 2%;
    margin: 2% 0%;
    color: white;
    background-color: rgba(54, 53, 53, 0.863);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: justify;
}

.telefonos {
    width: 100%;
    padding: 3%;
    margin: 2% 0%;
    color: white;
    background-color:  rgba(54, 53, 53, 0.863); grid-auto-columns: 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: justify;
  
}

.horario{
    width: 100%;
    padding: 2%;
    margin: 2% 0%;
    color:white;
    background-color: rgba(54, 53, 53, 0.863);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: justify;  
}

/*.correo{
    width: 35%;
    padding: 2%;
    margin: 3% grid-auto-columns: ;
    color:white;
    background-color: rgba(54, 53, 53, 0.863);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: justify;   

}*/


.informacion{
    width: 40%;
    padding: 2%;
    margin: 222px auto 2%;
    color:white;
    background-color: rgba(54, 53, 53, 0.863);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: justify;
}

@media(max-width: 800px){
     header{
        position: relative;
    }
    .con-tel-hor{
        margin:auto;
        width: 95%;
        padding: 1%;
    }  
    .informacion{
        margin: auto;
        margin-bottom: 3%;
        width: 95%;
        padding: 4%;
    }

    .mision-vision {
        margin-top: auto;
        width: 95%;
        padding: 4%;
    }

    .valor{
        width: 95%;
        padding: 4%;
    }
    .objetivo{
       padding: 4%;
    }
    .politica {
        width: 95%; 
        padding: 4%; 
    }
    
}


