/*estilo de toda la pagina*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

/*estilo para el parallax*/
#parallax {
    background-image: url(../imagenes/fondoedi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.container-head{
    display: flex;
    flex-wrap: wrap;
    width: 100%
}
/*estilo de imagenes*/


.logo{
    width: 10%;
    height: 10%;
    margin: 2% auto;
    margin-top: 2.3%
}

@media only screen and  (max-width: 750px){
        .logo{       margin: 3% 3% 0%;
                     width: 15%;
                     height: 50px;
       }
    }


#imagen{
    width: 85%;
    height: 10%;
    padding: 5px; margin: 5px;  float: center 120px;
    margin-left: 8%;
}


/*estilo de header*/

.titulo1{
    width: 33%;
    height: 10%;
    text-align: center;   
    color: rgb(253, 253, 253);
    border: 2px outset #04faff;
    border-width: 10%;
    padding: 10px;
    box-shadow: rgb(10, 170, 233) 5px 5px 10px; 
    text-shadow: 0px 0 rgb(14, 73, 209), 0 0px rgb(14, 73, 209), 1px 0  rgb(14, 73, 209), 0 -1px  rgb(14, 73, 209), -2px 2px 0  rgb(14, 73, 209), 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68;
    margin: 2% 2% auto 0% ;
}

@media only screen and  (max-width: 750px){
        .titulo1{      margin: 3%  0.3% 1%  6% ;
                       width: 63%;
                    
       }
    }

header{
   /* background-color: rgba(12, 12, 12, 0.89);*/
    width: 100%;
    display: block;
    border: 1px solid #1F618D;
    background-image: url(../imagenes/pl1.jpg);
    background-repeat: repeat;
    background-size: 50%;
    background-attachment: fixed; 
    top: 0;
    z-index: 100;
    position: fixed;
   
}

.barra-btn-buscar{
    width: 2% auto;

}

.iniciar1{
    margin-right: 4%;
    width: 100%;
    padding: 2%;
    color: rgb(50, 190, 214);
    border: 2px outset#04faff;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    background: rgba(17, 17, 17);
    overflow: hidden;
    border-radius: 8%;
}

.bot-log-reg{
    font-size: large;
    background:none ;
    border: none;
    outline: none;
    width: 35%;
    margin-bottom: 5%;
    overflow: hidden;

}


.registrar1{
    width: 100%;
    padding: 2%;
    color: rgb(50, 190, 214);
    border: 2px inset#04faff;
    font-family: 'Josefin Sans',arial sans-serif;
    text-decoration: none;
    background: rgba(17, 17, 17);
    border-radius: 8%;

}

.iniciar1:hover{
    background: rgba(240, 127, 15, 0.664);
    color: #ebe5e5;
}

.registrar1:hover{
    background: rgba(240, 127, 15, 0.664);
    color: #ebe5e5;
}




@media only screen and  (max-width: 1000px){
     .bot-log-reg{ width: 23%;
	           font-size: 12px;
                   color: rgba(233, 233, 233);

       }
    }

@media only screen and  (max-width: 800px){
     .iniciar1 .registrar1{ width: 35%;
                            margin: 19px;                          
       }
    }

 
/*estilos servicios*/

.container-servicios{
    display: flex;
    flex-wrap: wrap;
    margin: 20% auto 4%;
    width: 80%;
}

.ponchado {
    width: 55%;
    padding: 4%;
    margin: 0px auto 2%;
    color: white;
    background-color:  rgba(54, 53, 53, 0.863);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: justify;
    overflow:hidden;
   }


.mantenimiento {
    width: 42%;
    padding: 4%;
    margin: 0px auto 2%;
    color: white;
    background-color:  rgba(54, 53, 53, 0.863);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: justify;
    overflow:hidden;
   }



.proyectos{
    width: 99%;
    padding: 4%;
    margin: 2% auto;
    color:white;
    background-color:  rgba(54, 53, 53, 0.863);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: justify; 
    overflow:hidden;
}
.instalaciones{
    width: 75%;
    margin-left: 15%;
    margin-top: 220px;
    margin-right:5%; 
    overflow:hidden;
}

.servicios {
	width: 100%;
	margin: auto;
	overflow: hidden;
        margin-top: 1%;
}

.servicios ul {
	display: flex;
	padding: 0%;
	width: 200%;
	
	animation: cambio 10s infinite alternate linear;
}

.servicios li {
	width: 90%;
	list-style: none;
}

.servicios img {
	width: 90%;
        height: 90%;
}


        
@keyframes cambio{
    0%{ margin-left: 0%;}
    20%{ margin-left: 0%;}

    25% { margin-left: 0%;}
    45% { margin-left: 0%;}

    50% { margin-left: -100%;}
    70% { margin-left: -100%;}

    75% {margin-left: -100%;}
    100% {margin-left: -100%;}
}

@media (max-width: 850px){
    header{ 
        position: relative;
        margin-bottom: 3%;        
    }
    .container-servicios{
        margin: 0px auto 5%;
   }
   .ponchado {
        width: 99%;
   }

   .mantenimiento {
        width: 99%;
   }


